<h1 style="text-align: center;background-color: blanchedalmond;">Task-3</h1>
<div style="margin-left: 500px;">
<div style="border: 2px solid black;display: inline-block;width:50%;">
    <div>
<img src="assets/e1.png" style="margin-left: -1px;border-bottom: 2px solid gainsboro;width: 100%;position: relative;" class="y1"/>
    <div *ngFor='let r of E5' class="g1">
    <p class="o1">Course:{{r.Name}}</p>
    <p class="o1">Version:{{r.Pin}}</p>
    <p class="o1">{{r.Section}}:</p>
    <p class="o2">Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.</p>
    </div>
</div>
    <a [attr.href]="g1" style="text-decoration: none;" class="e1">Click-Here</a>
</div>
</div>
