<h1 style="text-align: center;background-color: paleturquoise;">Task-3</h1>
<div *ngFor="let a4 of E3" style="border:5px solid black;border-radius: 50%;width:150px;height: 50px;padding: 5%;text-align: center;">
<b>Name:{{a4.Name}}</b>
<br />
<b>Pin:{{a4.Pin}}</b>
<br />
<b>Department:{{a4.Branch}}</b>  
<br />  
</div>
<div *ngFor="let a4 of E4" style="border:5px solid black;border-radius: 50%;width:150px;height: 50px;padding: 5%;text-align: center;margin-left: 1040px;margin-top: -200px;">
    <b>Name:{{a4.Name}}</b>
    <br />
    <b>Pin:{{a4.Pin}}</b>
    <br />
    <b>Department:{{a4.Branch}}</b>  
    <br />  
    </div>

    
   