#a1
{
color:white;
background-color:green;
font-size:55px;
text-align:center;
word-spacing:10px;
}
#a2
{
color:white;
background-color:green;
font-size:55px;
text-align:center;
word-spacing:10px;
}
.a3
{
color:white;
background-color:orange;
font-size:55px;
text-align:center;
word-spacing:10px;
}
.a4
{
color:red;
background-color:yellow;
font-size:55px;
text-align:center;
word-spacing:10px;
}