
<div class="col-md-6" style="margin-left: 400px;margin-top:-260px;">
    <h1 style="margin-left: 100px;">Wheather Forecast</h1>
    <h4 style="margin-left: 100px;">This Component Demonstrate Fetching Data From Server</h4>
    <br />
  <strong style="margin-left: 70px;">Summary:</strong>
  <select style="width:120px;">
    <option value="#head1">Freezing</option>
    <option value="#head1">Bracing</option>
    <option value="#head1">Chilly</option>
    <option value="#head1">Cool</option>
    <option value="#head1">Mild</option>
    <option value="#head1">Warm</option>
    <option value="#head1">Balmy</option>
    <option value="#head1">Sweltering</option>
    <option value="#head1">Scorching</option>
  </select>

  
  </div>
  <div class="col-md-6">
     <div *ngFor="let a of posts">
        <p style="margin-left: 430px;">{{a.date}}</p>
        <p style="margin-left: 550px;margin-top:-30px ;">{{a.temp1}}</p>
        <p style="margin-left: 730px;margin-top:-38px ;">{{a.temp2}}</p>
        <p style="margin-left: 910px;margin-top:-30px ;">{{a.summ}}</p>
     </div>
  </div>
  