<div style="background-color: gainsboro;margin-top:-600px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <img src="assets/t.jpg" style="width:73%;margin-left: 88px;margin-top:-70px ;border-radius: 9px;"/>
           <div style="margin-left: 180px;">
               <div style="margin-left: 400px;">
           <p><b>1.5M</b></p> <i class="fa fa-eye" ></i> 
           </div>
<div  style="margin-left: 450px;">
           <p style="margin-left:50px;margin-top:-50px;"><b>256.k</b></p><i class="fa fa-comment-o" style="margin-top:-20px;margin-left: 50px;"></i>
            <p style="margin-left:0px;margin-top:-50px;"><b>share</b></p><i class="fa fa-share-alt"></i>
     </div>
        </div>
            </div>
            <div class="col-md-2" style="background-color: ghostwhite;margin-top:-440px;margin-left:820px ;border-radius:5px;width:310px;">
                <h5>India</h5>
                <img src="assets/i1.png" style="height:25px;margin-left:45px;margin-top:-55px;border-radius: 35px;"/>
                <h5 style="color: gainsboro;margin-top:-13px;">Vs</h5>
                <h5>Pakisthan</h5>
                <img src="assets/p1.png" style="margin-left:65px;height:28px;margin-top:-45px ;border-radius:25px;" />
            <p>Today Karbon Cup Match Between India And Pakisthan.</p>
            </div>
        </div>
        
   

<div class="row">
    <div class="col-md-2" style="background-color: ghostwhite;margin-top:-270px;margin-left:820px ;border-radius:8px;width:310px;">
        <h5>Australia</h5>
        <img src="assets/e2.png" style="height:25px;margin-left:60px;margin-top:-55px;border-radius: 35px;"/>
        <h5 style="color: gainsboro;margin-top:-13px;">Vs</h5>
        <h5>England</h5>
        <img src="assets/e1.jpg" style="margin-left:65px;height:28px;margin-top:-45px ;border-radius:25px;" />
    <p>Today Karbon Cup Match Between Australia And England.</p>
    </div>
    <div class="col-md-10">

    </div>
    <div class="row">
        <div class="col-md-8" style="margin-left:120px;">
        <h3><strong>Dems See One last chance to boost<br />
        public support for imprechment.</strong></h3>
        </div>
        <div class="col-md-4" style="margin-top:-50px ;">
<button class="btn btn-success" style="border-radius:20px;margin-left:600px;">Save To Gallery</button>
        </div>
    </div>
</div>
<div style="margin-left:100px;">
    <h3>video</h3>
</div>
<div style="margin-left:630px;margin-top:-35px ;">
    <h5>See all</h5>
</div>
<div style="margin-left:800px;margin-top:-42px;">
    <h3>Political News</h3>
    <div style="background-color: ghostwhite;border-radius: 10px;">
        <img src="assets/o.jpg" style="width: 100px;"/>
        <br />
        <strong>Obama looms over divided by <br />
        the democrartic primary</strong>
    </div>
</div>
<div style="margin-top: -145px;">
    <h5 style="margin-left:1070px;" >See all</h5>
    <h5 style="margin-left: 1070px;margin-top:40px ;"><b>Page-4</b></h5>
</div>
    <div class="row" style="margin-top:-50px;">
    <div class="col-md-8">
        <br />
        <iframe width="420" height="345" style="border-radius:20px;height:40%;width:40%;margin-left: 90px;" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        
    
    </div>
    <div class="col-md-4">
        <br />
        <iframe width="420" height="345" style="border-radius:20px;height:40%;width:80%;margin-left: -350px;" src="https://www.youtube.com//embed/watch?v=gjnrtCKZqYg&list=RDgjnrtCKZqYg&start_radio=1">
        </iframe>
        
    </div>
    </div>
    </div>
</div>