<h1></h1>
<div style="border: 3px solid firebrick;">
    <h1>Registration-Page</h1>
    &nbsp;&nbsp;&nbsp;Name:<input type="text" placeholder="Enter Name" style="margin-left:190px;width:40%;border-radius: 5px; border: 2px solid black;" />
    <br />
    <br />
    &nbsp;&nbsp;&nbsp;Password:<input type="password" placeholder="Enter Password"  style="margin-left:168px;width:40%;border-radius: 5px;border: 2px solid black;" />
    <br />
    <br />
    &nbsp;&nbsp;&nbsp;Section:<input type="text" placeholder="Enter Section"  style="margin-left:182px;width:40%;border-radius: 5px;border: 2px solid black;" />
    <br />
    <br /> 
    <a href="" style="margin-left: 480px;">Forgot Password?</a>
    <br />
    <button style="margin-left: 500px;" (click)="show()">Submit</button>

 </div>