<h1 style="text-align: center;background-color: cornflowerblue;">Task-2</h1>
<div style="background-color:orangered">
    <ul *ngFor='let f2 of M1' style="margin:0;padding: 0px;">
        <li style="display: inline-block;padding: 10px;">
     <h3 style="color:red;"><a href="https://www.google.co.in" style="text-decoration: none;" class="u1" >{{f2.Home}}</a></h3>
        </li>
        <li style="display: inline-block;padding: 10px;">
   <h3  style="color:red;"> <a href="" style="text-decoration: none;" class="u1">{{f2.Students}}</a></h3>
        </li>
        <li style="display: inline-block;padding: 10px;">
        <h3  style="color:red;"><a href="" style="text-decoration: none;" class="u1">{{f2.Teacher}}</a></h3>
        </li>
        <li style="display: inline-block;padding: 10px;">
        <h3  style="color:red;"><a href="" style="text-decoration: none;" class="u1">{{f2.News}}</a></h3>
        </li>
    </ul>
</div>