.i2 img
{
background-image:url('24.jpg');	
width:140px;
position:absolute;
top:-2;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
	margin-left:5px;
	position:absolute;
	top:78;
	width:100%;
}
ul li
{
padding:10px 131px;
background-color:yellow;
color:yellow;
margin-top:0px;
padding-left:10px 120px;
float:left;



}
a
{
	text-decoration:none;
	display:block;
	padding:10px;
}
a:hover
{
	
	color:white;
	background-color:blue;

}
h1
{
	text-align:center;
	background-color:orange;
	padding:20px;

	
}
body
{
	padding:0;
	margin:0;
}
