<table border=1>
    <tr>
        <th>Name:</th>
        <th>Pin:</th>
        <th>Section</th>
    </tr>
    <tr>
        <td *ngFor='let s1 of E4'>
                <p>{{s1.Name}}</p>
        </td>
        <td *ngFor='let s1 of E4'>
            {{s1.Pin}}
    </td>
    <td *ngFor='let s1 of E4'>
        {{s1.Section}}
</td>
    </tr>
    <tr>
        <td *ngFor='let s1 of E5'>
                <p>{{s1.Name}}</p>
        </td>
        <td *ngFor='let s1 of E5'>
            {{s1.Pin}}
    </td>
    <td *ngFor='let s1 of E5'>
        {{s1.Section}}
</td>
    </tr>
</table>
{{ex1}}

