
<div *ngFor='let s2 of Ex5'>
    <div style="border: 5px solid black;width:15%;margin-left: 30%;margin-top: -10%;">
<p style="text-align: center;">Name:{{s2.Name}}</p>
<p style="text-align: center;">Pin:{{s2.Pin}}</p>
<p style="text-align: center;">Section:{{s2.Section}}</p>
</div>
</div>
<br />
<div *ngFor='let s2 of Ex6'>
    <div style="border-right: 5px solid black;border-top: 5px solid black;border-bottom: 5px solid black;width:18%;margin-left: 45.7%;margin-top: -10.9%;">
<p style="text-align: center;">Name:{{s2.Name}}</p>
<p style="text-align: center;">Pin:{{s2.Pin}}</p>
<p style="text-align: center;">Section:{{s2.Section}}</p>
</div>
</div>
