input[type="text"] 
{
display:block;
margin-bottom:15px;
	padding:10px;
	border:3px solid #D3D3D3;
}
.btn1
{
	display:block;
	padding:10px 30px;
	color:white;
	background-color:green;
	border:2px solid green;
	font-style:Tahhoma,sans-serif;

	border-radius:5px;
	
	
}
.hed2 form
{
	background-color:#D3D3D3;
	padding:20px 30px;
}
.hed2 form .n1
{
	padding:10px;
	display:block;
	width:100%;
	font-style:Tahoma.sans-serif;
}
 .hed2 form .n2
{
	padding:10px;
	display:block;
	width:100%;
	font-style:Tahoma,sans-serif;
}
.hed2
{
	padding:30px 80px;
}
 .hed2 form .n3
 {
	 display:block;
	 padding:10px;
	display:block;
	width:100%;
	font-style:Tahoma,sans-serif;
	border:3px solid green;
	color:white;
	background-color:green;
	border-radius:5px;
	 
 }