<h1 style="text-align: center;background-color: palegreen;">Task-2</h1>
<table border=2 style="text-align: center; margin-left: 450px;width: 40%;">
    <tr>
        <th>NAME</th>
        <th>PIN</th>
        <th>DEPARTMENT</th>
    </tr>
    <tr>
        <td *ngFor="let a3 of E1">
 {{a3.Name}}
        </td>
        <td *ngFor="let a3 of E1">
 {{a3.Pin}}
        </td>
        <td *ngFor="let a3 of E1" >
 {{a3.Branch}}
        </td>
    </tr>
    <tr>
        <td *ngFor="let a3 of E2">
 {{a3.Name}}
        </td>
        <td *ngFor="let a3 of E2">
 {{a3.Pin}}
        </td>
        <td *ngFor="let a3 of E2" >
 {{a3.Branch}}
        </td>
    </tr>
</table>
<h1>{{color}}</h1>
{{example}}