<h1></h1>
<div style="border: 3px solid black;">
    <div style="margin-left: 550px;">
    <h1>Registration</h1>
    Enter Name:<input type="text" placeholder="Enter Username" style="border-radius: 15px;border:2px solid black;margin-left: 29px;" />
    <br />
    <br />
    Enter Password:<input type="password" placeholder="Enter Password" style="border-radius: 15px;border:2px solid black;margin-left: 10px;" />
    <br />
    <br />
    Enter Email:<input type=email placeholder="Enter Email" style="border-radius: 15px;border:2px solid black;margin-left: 29.5px;" />
    <br />
    <br />
    Enter Number:<input type="text" placeholder="Enter Password" style="border-radius: 15px;border:2px solid black;margin-left: 17px;" />
    <br />
    <br />
    </div>
    <button style="margin-left: 550px;">Submit</button>
</div>